.priceFilterContainer{
  display: flex;
  flex-direction: row;
  height: 40px;
  gap: 10px;
}

.priceFilterContainer .form-label{
  margin: 0;
  font-size: 14px;
  color: grey;
}

.nameOfFilter{
  color: grey;
  margin-bottom: 5px;
  width: 100%;
}