.mainNav{
    font-size: 20px;
    line-height: 2;
    font-family: "JetBrains Mono",monospace;
    user-select: none;
    align-self: center !important;
}
.mainNavNav{
    align-self: center !important;
    display: flex !important;
}
.greenCol{
    background-color: #7BC74D !important;
    color: white !important;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#66a340 0 -3px 0 inset !important;
}
.right{
    float: right;
}

.dropdown-box {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  min-width: 200px;
  min-height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-box:hover .dropdown-content {
  display: block;
}

.container{
  padding: 20px !important;
  display: grid;
}
