.sndNav{
  font-size: larger;
  height: auto;
}
.searchField{
  width: 60%;
  height: 50px;
  display: flex;
  border-radius: 60px;
  padding: 0;
  margin: 0;
  border-radius: 50px;
}
.searchField input {
  border: 1px solid #393E46;
  flex: 1;
  outline: none;
  border-radius: 50px 0 0 50px;
  height: 100%;
  padding: 24px 20px;
  font-size: 18px;
  color: #222831;
}
.nav1{
  padding-right: 10px;
}
.nav2{
  width: 100%;
}
.sndNavNav{
  width: 100%;
}
.searchField input:focus { 
  border-color: #99c47b !important;
} 

.searchField button{
  width: 50px;
  height: 50px;
  border: 0;
  background-color: #393E46;
  border-radius: 50px;
  color: white;
  position: relative;
  right: 25px;
}

.searchField button:hover{
  background-color: #525964;
}

.navContent {
  justify-content: center !important; 
}

.catalogBtn{
  border: none;
  background-color: #7BC74D;
  color: white;
  height: 50px;
  width: 8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#66a340 0 -3px 0 inset !important;
}
@media (max-width: 576px){
  .catalogBtn{
    width: 3.2rem;
  }
  .nav1{
    padding-left: 35%;
    padding-bottom: 5px;
  }
  .sndNavNav{
    width: auto;
  }
}

@media (max-width: 454px){
  .nav1{
    padding-left: 39%;
    padding-bottom: 5px;
  }
  .searchField{
    padding-left: 4%;
  }
}
*{
  font-family: "JetBrains Mono",monospace;
}