.leftNav{
  height:60vh;
  width: 100%;
  background-color: rgb(39, 40, 46);
  padding-left: clamp(2rem, 2rem, 4rem);
  padding-right: clamp(2rem, 2rem, 4rem);
}
.navBg{
  height: 100%;
  width: 100%;
  background-color: rgb(29, 30, 34);
}