.adminContent{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.createBtn {
  background-color: rgb(20, 20, 23);
  color: white;
  font-size: 1em;
  padding: 8px 25px;
}

.createBtn:hover {
  background-color: rgb(36, 36, 41);
}

.devicesPageNav {
  width: 100%;
  display: flex;  
  justify-content: space-between;
}

@media (max-width: 700px) {
  .adminContent {
    grid-template-columns: 1fr;
  }
}
