.adminNavBg {
  position: relative;
  height: auto;
  width: 250px;
  height: 115vh;
  background-color: rgb(20, 20, 23);
  color: white;
}

.adminNavBg .row .col-xl-12{
  height: 3.5em;
  align-items: center;
  justify-content: center;
  display: flex;
}

.col-xl-12 a {
  transition: all 0.2s;
}

.col-xl-12 a.active {
  background-color: rgb(48, 48, 56);
}

.adminNavBtn {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 23);
  color: white;
  border: 0;
  transition: all 0.2s;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.adminNavBtn:hover {
  background-color: rgb(36, 36, 41);
}

.burger{
  cursor: pointer;
}

.line {
  width: 25px;
  height: 2px;
  border-radius: 5px;
  margin: 6px auto;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line.clicked:nth-child(2){
  opacity: 0;
}

.line.clicked:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.line.clicked:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .adminNavBg {
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .adminMenu {
    position: fixed;
    left: -100%;
    top: 190px;
    gap: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 27);
    text-align: center;
    flex-direction: column;
    transition: all 0.2s;
    z-index: 3;
  }
  
  .adminMenu.visible{
    left: 0;
  }
}
