.listElement {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.devicePageTypesList .col-xl-12{
  padding: 0 !important;
}

.devicePageTypesList a{
  text-decoration: none !important;
  color: black !important;
}