header {
  display: flex;  
  justify-content: right;
  padding: 10px;
}

.brandsTypeLink.active {
  text-decoration: underline !important;
}

.typesPageGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  padding: 20px;
}

.brandsTypeLink {
  color: black;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  display: flex;
  font-size: 20px;
}

.attributeValueInput{
  border: 0;
  text-align: center;
}

.inputWithSlash {
  position: relative;
  width: 14rem;
}

.slash {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.attrValuesContainer {
  display: flex; /* Элементы внутри будут выстроены горизонтально */
  flex-wrap: wrap; /* Если элементы не влезают, они переносятся на следующую строку */
  gap: 10px;
}

.attributeNameInput {
  height: 50px;
  border: 0;
  text-align: center;
}

.typesAddButton {
  border: 0;
  background-color: white;
  text-decoration: underline;
}